<div id="fadeBlock">Powered by: &nbsp;<b id="fade">Paweł Morawczyński</b></div>

<div id="contactBlock">
    <div style="display: flex; justify-content: center;">
    <div id="hr"></div>
    </div>
    <div id="contact">
    <div id="left">
        <table>
            <tr >
                <td>Author:</td>
                <td><b>Paweł Morawczyński</b></td>
            </tr>
            <tr>
                <td>Contact mail: </td>
                <td><b>example.mail@gmail.com</b></td>
            </tr>
        </table>
          <br>

    </div>
    <div id="right">
        <button>
            <img src="assets/FaceWatch.svg" alt="FaceWatch">
        </button>
        <button>
            <img src="assets/InstaTag.svg" alt="InstaTag">
        </button>
        <button>
            <img src="assets/Birrdy.svg" alt="Birrdy">
        </button>
        <button>
            <img src="assets/Goolfons.svg" alt="Goolfons">
        </button>
    </div>
</div>
</div>
